<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="page-header">
        Visualizar Loja
      </h2>
    </div>
  </div>
  <div class="curso form">
    <div class="row">
      <div class="col-lg-4 form-group">   
        <label class = 'control-label'>Nome</label>
        <input readonly="true" class = 'form-control' value="<%= @store.name %>" />
      </div>
    </div>  

    <div class="row">
      <div class="col-lg-4 form-group">  
        <label class = 'control-label'>Endereço</label>
        <input readonly="true" class = 'form-control' value="<%= @store.address %>" />
      </div>
    </div><br>              
    
    <div class="row">
      <div class="col-lg-4 form-group">  
        <%= link_to 'Editar', edit_store_path(@store), :class => "btn btn-primary" %>
        <%= link_to 'Voltar', stores_path, :class => "btn btn-primary"%>
      </div>
    </div>                    
  </div>
</div>
