<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="page-header">
        Estoque Adicionado
      </h2>
    </div>
  </div>
  <div class="curso form">
    <div class="row">
      <div class="col-lg-4 form-group">   
        <label class = 'control-label'>Nome</label>
        <input readonly="true" class = 'form-control' value="<%= @stock_product.store.name %>" />
      </div>
    </div>      
    <div class="row">
      <div class="col-lg-4 form-group">   
        <label class = 'control-label'>Produto</label>
        <input readonly="true" class = 'form-control' value="<%= @stock_product.product.name %>" />
      </div>
    </div>
    <% if @stock_item.present? %>      
      <div class="row">
        <div class="col-lg-4 form-group">   
          <label class = 'control-label'>Quatindade Adicionada</label>
          <input readonly="true" class = 'form-control' value="<%= @stock_item %>" />
        </div>
      </div>  
    <%else%>
      <div class="row">
        <div class="col-lg-4 form-group">   
          <label class = 'control-label'>Quatindade Adicionada</label>
          <input readonly="true" class = 'form-control' value="<%= @stock_product.stock %>" />
        </div>
      </div>     
    <%end%>      

    </div><br>             
    
    <div class="row">
      <div class="col-lg-4 form-group">  
        <%= link_to 'Voltar', stores_path, :class => "btn btn-primary"%>
      </div>
    </div>                    
  </div>
</div>
